pgyer:
  user_key: ''
  api_key: ''
yonghui:
  key_store:
    path: 'key-store/app-name.jks'
    password: ''
    alias: 'app-name'
    alias_password: ''
  server: ''
  pgyer:
    ios: ''
    android: ''
    <<: *pgyer
  umeng: 
    ios: ''
    android: ''
shengyiplus:
  key_store:
    path: 'key-store/app-name.jks'
    password: ''
    alias: 'app-name'
    alias_password: ''
  server: ''
  pgyer:
    ios: ''
    android: ''
    <<: *pgyer
  umeng: 
    ios: ''
    android: ''
qiyoutong:
  key_store:
    path: 'key-store/app-name.jks'
    password: ''
    alias: 'app-name'
    alias_password: ''
  server: ''
  pgyer:
    ios: ''
    android: ''
    <<: *pgyer
  umeng: 
    ios: ''
    android: ''